@using SistemaGeneraliz.Models.ViewModels

@{
    ViewBag.Title = "Encuestas Pendientes";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Historial de Trabajos</title>
</head>
<body>
    @*    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    @{Html.RenderPartial("Titulo", new SistemaGeneraliz.Models.Helpers.PageTitle("Encuestas Pendientes", ""));}

    @*@Html.ValidationSummary(true)*@

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Encuestas Pendientes</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body">
            @(Html.Kendo().Grid<EncuestasClientesViewModel>()
            .Name("Grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.TrabajoProveedorId).Hidden(true);
                columns.Bound(p => p.EncuestaClienteId).Hidden(true);
                columns.Bound(p => p.FotoProveedor).Hidden(true);
                columns.Bound(p => p.FechaTrabajo).Width("106px");
                columns.Bound(p => p.FotoProveedor).Template(@<text></text>).ClientTemplate("<img src='/Usuarios/GetImagen?imagenId=#=FotoProveedor#' alt='' width='146' height='106'>");
                columns.Bound(p => p.NombreProveedor).Width("170px");
                columns.Bound(p => p.DocumentoProveedor).Width("130px");
                columns.Bound(p => p.Servicios).Width("145px");
                columns.Bound(p => p.DescripcionCliente).Width("148px");
                columns.Bound(p => p.DireccionCiente);
                columns.Template(@<text></text>).ClientTemplate("<a type='button' class='btn' style='color: black; text-shadow: none; background-color: lightblue;' href='" + Url.Action("LlenarEncuestaCliente", "Clientes") + "?encuestaClienteId=#=EncuestaClienteId#'>Llenar Encuesta</a>");
            })
            .Pageable(page => page.PageSizes(true).Messages(m => m.ItemsPerPage("Elementos por página")).Refresh(true))
            .Sortable()
            .Scrollable()
            .Resizable(resize => resize.Columns(true))
            .DataSource(dataSource => dataSource
                .Ajax()
                .ServerOperation(false)
                .Read(read => read.Action("EncuestasPendientes_Read", "Clientes"))
            )
        )
        </div>
    </div>
    @*    <div>
        @Html.ActionLink("Regresar", "RegistrarUsuario", "Usuarios")
    </div>*@

</body>
</html>