@{
    ViewBag.Title = "Buscar Proveedores";
}
@{Html.RenderPartial("Titulo", new SistemaGeneraliz.Models.Helpers.PageTitle("Buscar Proveedores", "Elija un tipo de búsqueda"));}

<div class="row-fluid profile">
    <div class="span12">
        <!--BEGIN TABS-->
        <div class="tabbable tabbable-custom tabbable-full-width">
            <div class="tab-content">
                <div class="tab-pane row-fluid active" id="tab_1_1">
                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                        <li><a href="@Url.Action("BuscarProveedores", "Clientes", new {tipoBusqueda = "Automatizada"})"><i class="icon-laptop"></i>Búsqueda automatizada ejecutada por el sistema</a></li>
                        <li><a href="@Url.Action("BuscarProveedores", "Clientes", new {tipoBusqueda = "Manual"})"><i class="icon-user"></i>Búsqueda manual realizada por el usuario</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>