@{
    ViewBag.Title = "Contacto";
}

<br/>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>Contacto</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">
        Si usted es dueño o representante de un tienda/cadena de ferreterías y desea suscribirse, por favor pónganse
        en contacto con nosotros a los teléfonos 4421210 - 998560870, o envíe un correo a c.mendez@pucp.pe para recibir más información.
        <br />
        <br />
        Ing. Christian Mendez Anchante
        <br />
        Gerente General
        <br />
    </div>
</div>


