@model IEnumerable<SistemaGeneraliz.Models.ViewModels.OfertasPromosDsctosViewModel>
@using SistemaGeneraliz.Models.Entities
@using SistemaGeneraliz.Models.ViewModels

@{
    ViewBag.Title = "Ofertas, Promos y Dsctos";
    
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ofertas, Promos y Dsctos</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="~/Scripts/ubicaciones.js"></script>
    <script type="text/x-kendo-tmpl" id="template">
        <div class="album" >
            <img src='/Suministradores/GetImagen?imagenId=#=ImagenPrincipalId#' alt="#:NombreCorto#" />
            <span class="idProduct" >ID[#:OfertaPromoDsctoId#]</span>
            <span class="title" >#:NombreCorto#</span>
            <span class="price" >#:Tipo# <a id='btnVer' style='color: \\\#008AC9; text-decoration: none; background: transparent; font-style: normal; cursor: pointer;' href='\\\#modal_producto' data-toggle='modal' 
        onclick='return verDetalles(#=OfertaPromoDsctoId#);'> - Ver</a></span>
        </div>    
    </script>
</head>
<body>
    @{Html.RenderPartial("Titulo", new SistemaGeneraliz.Models.Helpers.PageTitle("Ofertas, Promos y Dsctos", ""));}

    @Html.ValidationSummary(true)

    <br />
    <div class="clearfix">
        @(Html.Kendo().ListView<SistemaGeneraliz.Models.ViewModels.OfertasPromosDsctosViewModel>(Model)
            .Name("listView")
            .TagName("div")
            .ClientTemplateId("template")
            .DataSource(dataSource =>
            {
                dataSource.Read(read => read.Action("OfertasPromosDsctos_Read", "Suministradores"));
                dataSource.PageSize(15);
            })
            .Pageable()
            .Selectable(selectable => selectable.Mode(ListViewSelectionMode.Single))
        )
    </div>

    <div class="modal fade" id="modal_producto" style="z-index: -1;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal"></a>
            <h4 id="encabezado" style="font-weight: bold;">Detalles</h4>
        </div>
        <div class="modal-body" style="max-height: 800px !important; width: 130%;">
            <div class="row-fluid">
                <!-- contenedor superior izquierdo: campos -->
                <div class="span7">
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;">Tipo</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 140%; text-align: left;">
                                <label id="tipo" style="cursor: default;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;">Producto</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 140%; text-align: left;">
                                <label id="nombreProducto" style="cursor: default;"></label>
                                <img id="imagenProducto" src='' alt="" width='172' height='172' style="padding-left: 5%;" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;">Descripción</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 140%; text-align: left;">
                                <label id="descripcionProducto" style="cursor: default;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;">Vigencia</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 140%; text-align: left;">
                                <label id="vigencia" style="cursor: default;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;">Cantidad Disp.</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 140%; text-align: left;">
                                <label id="cantidadDisponible" style="cursor: default;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" id="divCostoLeads" style="display: none;">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;">Costo en Leads</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 140%; text-align: left;">
                                <label id="costo" style="cursor: default;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;">Suministrador</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 140%; text-align: left;">
                                <input type="hidden" id="suministradorId" value="" />
                                <a id='btnVerSuministrador' style='color: #008AC9; text-decoration: none; background: transparent; font-style: normal; cursor: pointer;' href='#modalSuministrador' data-toggle='modal'
                                    onclick='return verSuministrador();'>Ver Suministrador</a>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" id="divComprar">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;"></label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="margin-right: 70px;">
                                <button id="btnSeparar" type="submit" class="btn red pull-right" style="width: 104%;">
                                    Separar <i class="icon-check  m-icon-white"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSuministrador" style="z-index: -1;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal"></a>
            <h4 style="font-weight: bold;">Detalles del suministrador</h4>
        </div>
        <div class="modal-body" style="max-height: 800px !important; width: 130%;">
            <div class="row-fluid">
                <div class="span7">
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;">Suministrador</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 140%; text-align: left;">
                                @*<input type="text" id="nombreProducto" value="" readonly="readonly" />*@
                                <label id="nombreSuministrador" style="cursor: default;"></label>
                                <img id="imagenSuministrador" src='' alt="" width='172' height='172' style="padding-left: 5%;" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;">RUC</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 140%; text-align: left;">
                                <label id="rucSuministrador" style="cursor: default;" />
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;">Teléfono</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 140%; text-align: left;">
                                <label id="telefonoSuministrador" style="cursor: default;"></label>
                                <label id="telefonoSuministrador2" style="cursor: default;"></label>
                                <label id="telefonoSuministrador3" style="cursor: default;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;">Email</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 140%; text-align: left;">
                                <label id="emailSuministrador" style="cursor: default;"></label>
                                <label id="emailSuministrador2" style="cursor: default;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;">Ubicaciones</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 140%; text-align: left;">
                                <a id='btnVerUbicacionSuministrador' style='color: #008AC9; text-decoration: none; background: transparent; font-style: normal; cursor: pointer;' href='#modal_mapa' data-toggle='modal'
                                    onclick='return VerUbicacionSuministrador();'>Ver Ubicaciones</a>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" id="divWebSuministrador" style="display: none">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;">Página web</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 140%; text-align: left;">
                                <label id="webSuministrador" style="cursor: default;" />
                            </div>
                        </div>
                    </div>
                    @*                    <div class="row-fluid" id="fbProveedor" style="display: none;">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label>Página web</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 100%; text-align: left;">
                                asdasd
                            </div>
                        </div>
                    </div>*@
                    <div class="row-fluid" id="divAcercadeSuministrador" style="display: none">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                <label style="cursor: default; font-weight: bold;">Acerca de</label>
                            </div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 140%; text-align: left;">
                                <label id="acercadeSuministrador" style="cursor: default;"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_mapa" style="z-index: -1;">
        <input type="hidden" id="ubicaciones" value="" />
        <div class="modal-header">
            <a class="close" data-dismiss="modal"></a>
            <h4 style="font-weight: bold;">Ubicaciones del Suministrador</h4>
        </div>
        <div class="modal-body" style="height: 560px !important;">
            <div id="map-canvas" style="margin: 0; padding: 0; height: 100%; width: 100%;"></div>
        </div>
    </div>

    <script>

        function verDetalles(ofertaPromoDsctoId) {
            //alert(productoId);
            $.getJSON('/Suministradores/GetDetallesOfertaPromoDsctoJSON', { ofertaPromoDsctoId: ofertaPromoDsctoId, ajax: 'true' }, function (result) {
                $(result).each(function () {
                    $("#nombreProducto").text(this.NombreCompleto);
                    $("#imagenProducto").attr('src', "/Usuarios/GetImagen?imagenId=" + this.ImagenPrincipalId);
                    $("#descripcionProducto").text(this.Descripcion);
                    $("#tipo").text(this.Tipo);
                    $("#suministradorId").val(this.SuministradorId);
                    $("#btnVerSuministrador").text(this.Suministrador);
                    $("#vigencia").text(this.FechaInicioString + " - " + this.FechaFinString);
                    $("#cantidadDisponible").text(this.CantidadDisponible);
                    $("#divCostoLeads").attr('style', 'display: none;');
                    $("#divComprar").attr('style', 'display: none;');
                    if (this.Tipo === "Promoción") {
                        $("#divCostoLeads").attr('style', '');
                        $("#costo").text(this.CostoEnLeads);
                        $("#divComprar").attr('style', '');
                    }
                });
            });

            $("#modal_producto").attr('style', 'width: 28%;left:35%;margin-left:auto;margin-right:auto;');
            return true;
        }

        function verSuministrador() {
            var suministrador = $("#suministradorId").val();
            //alert(suministrador);

            $.getJSON('/Suministradores/GetDetallesSuministradorJSON', { suministradorId: suministrador, ajax: 'true' }, function (result) {
                $(result).each(function () {
                    $("#nombreSuministrador").text(this.nombreSuministrador);
                    $("#imagenSuministrador").attr('src', "/Usuarios/GetImagen?imagenId=" + this.imagenSuministrador);
                    $("#rucSuministrador").text(this.rucSuministrador);
                    $("#telefonoSuministrador").text(this.telefonoSuministrador);
                    $("#telefonoSuministrador2").text(this.telefonoSuministrador2);
                    $("#telefonoSuministrador3").text(this.telefonoSuministrador3);
                    $("#emailSuministrador").text(this.emailSuministrador);
                    $("#emailSuministrador2").text(this.emailSuministrador2);
                    if (this.webSuministrador != "")
                        $("#divWebSuministrador").attr('style', '');
                    else
                        $("#divWebSuministrador").attr('style', 'display: none;');
                    if (this.acercadeSuministrador != "")
                        $("#divAcercadeSuministrador").attr('style', '');
                    else
                        $("#divAcercadeSuministrador").attr('style', 'display: none;');
                    $("#webSuministrador").text(this.webSuministrador);
                    $("#acercadeSuministrador").text(this.acercadeSuministrador);
                });
            });

            $("#modalSuministrador").attr('style', 'width: 28%;left:35%;margin-left:auto;margin-right:auto;');
            return true;
        }

        function VerUbicacionSuministrador() {
            clearOverlays();
            //var ubicaciones = new Array();
            //var a = [];
            //$.ajaxSetup({
            //    async: false
            //});
            var suministrador = $("#suministradorId").val();
            $.getJSON('/Suministradores/GetDetallesUbicacionesJSON', { suministradorId: suministrador }, function (result) {
                $(result).each(function () {

                    var marker2 = new google.maps.Marker({
                        position: new google.maps.LatLng(this.latitud, this.longitud),
                        map: map,
                        title: this.distrito,
                        animation: google.maps.Animation.DROP,
                    });
                    markersArray.push(marker2);
                    var ref = "";
                    if (this.referencia != "")
                        ref = " - Ref:" + this.referencia;
                    addInfoWindow(marker2, this.direccion + ref);
                    var pos = new google.maps.LatLng(this.latitud, this.longitud);
                    map.setCenter(pos);
                });
            });

            $("#modal_mapa").attr('style', 'height: 560px;');
        }
        
        $("#btnSeparar").click(function e() {
            alert("Falta implementar. Ver si utilizo variables hidden para el id proveedor (para ver si esta loggeado) o utilizar varias llamadas ajax " +
                "para validar primero, y luego realizar la compra");
            //var multiselect = $("#tiposServicios").data("kendoMultiSelect");
            //var valueServicios = multiselect.value().toString();

            //if (valueServicios === "") {
            //    alert("Error: debe elegir por lo menos un servicio.");
            //    return;
            //}

            //var ubicacion = $("#ubicacion").val();
            //if (ubicacion === "") {
            //    alert("Error: debe ingresar una ubicación.");
            //    return;
            //}

            //var fecha = $("#fecha").val();
            //if (fecha === "") {
            //    alert("Error: debe ingresar una fecha.");
            //    return;
            //}
            //var desc = $("#descripcion").val();
            //if (desc === "") {
            //    alert("Error: debe ingresar la descripción del trabajo.");
            //    return;
            //}

            //var data = $('#Grid').data('kendoGrid').dataSource.data();
            //if (data.length === 0) {
            //    alert("Error: debe haber al menos un proveedor a contratar");
            //    return;
            //}

            //var proveedoresIds = "";
            //var serviciosIds = "";

            //$.each(data, function (index, item) {
            //    proveedoresIds += item.ProveedorId + ",";
            //    serviciosIds += item.ServicioId + ",";
            //});

            //var clienteId = $("#clienteId").val();

            //$.ajax({
            //    type: 'GET',
            //    url: '/Clientes/ContratarProveedores',
            //    dataType: "json",
            //    contentType: "application/json; charset=utf-8",
            //    data: {
            //        clienteId: clienteId,
            //        proveedoresIds: proveedoresIds,
            //        serviciosIds: serviciosIds,
            //        fecha: fecha,
            //        ubicacion: ubicacion,
            //        desc: desc
            //    },

            //    success: function (e) {
            //        alert("Se realizó la contratación exitosamente.");
            //        //window.location = "/Home/Index/";
            //        $("#btnContratar").attr('style', 'display :none;');
            //        $("#btnVerDatos").attr('style', 'width: 100%; color: black; text-shadow: none; background-color: lightblue;');
            //    },
            //    error: function (xhr, ajaxOptions, thrownError) {
            //        alert(xhr.status);
            //        alert(thrownError);
            //    }
            //});
        });
    </script>
</body>
</html>

