@using SistemaGeneraliz.Models.Entities
@using SistemaGeneraliz.Models.ViewModels

@{
    ViewBag.Title = "Histórico de Trabajos";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Histórico de Trabajos</title>
</head>
<body>
    @*    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    @{Html.RenderPartial("Titulo", new SistemaGeneraliz.Models.Helpers.PageTitle("Histórico de Trabajos", "Reporte de todos los trabajos realizados por proveedores."));}
    <table style="width: 100%; border: 0;">
        <tbody>
            <tr>
                <td style="vertical-align: top; width: 45%; padding-left: 6%">
                    <table>
                        <tbody style="vertical-align: top;">
                            <tr>
                                <td>Fecha Inicio:</td>
                                <td>
                                    <input type="text" name="nombre" id="fechaInicio" maxlength="10" placeholder="dd/mm/aaaa">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="vertical-align: top; width: 35%;">
                    <table style="width: auto; border: 0;">
                        <tbody style="vertical-align: top;">
                            <tr>
                                <td style="width: 10%;">Fecha Fin:</td>
                                <td style="width: 10%;">
                                    <input type="text" name="nombre" id="fechaFin" maxlength="10" placeholder="dd/mm/aaaa">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="vertical-align: top; padding-top: 15px; width: 18%; padding-right: 7%;">
                    <button id="btnBuscar" type="submit" class="btn blue pull-right" style="width: 125%;">
                        Generar Reporte <i class="icon-search  m-icon-white"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Reporte Consolidado</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body">
            @(Html.Kendo().Grid<HistorialTrabajosViewModel>()
                  .Name("Grid")
                  .Columns(columns =>
                    {
                        columns.Bound(p => p.TrabajoProveedorId).Hidden(true);
                        columns.Bound(p => p.EncuestaRespondida).Hidden(true);
                        columns.Bound(p => p.FechaTrabajo);
                        columns.Bound(p => p.NombreCliente);
                        columns.Bound(p => p.DocumentoCliente);
                        columns.Bound(p => p.NombreProveedor);
                        columns.Bound(p => p.DocumentoProveedor);
                        columns.Bound(p => p.Servicios);
                        columns.Bound(p => p.DescripcionCliente);
                        columns.Bound(p => p.ReciboHonorarios_Factura);
                        columns.Bound(p => p.MontoCobrado).Format("S/. {0:n2}");
                        columns.Template(@<text></text>).ClientTemplate("<a id='btnVerEncuesta' type='button' class='btn' style='color: black; text-shadow: none; background-color: lightblue;' href='\\#modal_encuesta' data-toggle='modal' onclick='return mostrarEncuesta(#=TrabajoProveedorId#, #=EncuestaRespondida#);'>Ver Encuesta</a>");
                    })
                  .Resizable(resize => resize.Columns(true))
                  .Pageable(paper => paper.Refresh(true).PageSizes(true).Messages(m => m.ItemsPerPage("Elementos por página")))
                  .Sortable()
                  .Filterable()
                  .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(5)
                        .ServerOperation(false)
                        .Read(read => read.Action("HistoricoTrabajos_Read", "Administracion").Data("additionalData"))
                    )
                  )
        </div>
    </div>

    <div class="modal fade" id="modal_encuesta" style="z-index: -1;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal"></a>
            <h4>Encuesta de Satisfacción al Cliente</h4>
        </div>
        <div class="modal-body" style="width: 200%;">
            <div id="encuestaBody" style="">
                <div class="row-fluid">
                    <!-- contenedor superior izquierdo: campos -->
                    <div class="span7">
                        <input type="hidden" id="trabajoProveedorId" value="" />
                        @for (int i = 0; i < 7; i++)
                        {
                            <div class="row-fluid">
                                <div class="span5">
                                    <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                        <label id="criterio_@i">criterio_@i</label>
                                    </div>
                                </div>
                                <div class="span7">
                                    <div class="editor-field" style="width: 100%; text-align: left;">
                                        <input type="hidden" id="puntaje_@i" name="puntaje_@i" value="1" />
                                        @if (i > 4)
                                        {
                                            <div id="sino_@i">aaa</div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row-fluid">
                            <div class="span5">
                                <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                    <label>Comentarios cliente</label>
                                </div>
                            </div>
                            <div class="span7">
                                <div class="editor-field" style="width: 100%; text-align: left;">
                                    <input type="hidden" id="respuesta_7" value="" />
                                    <textarea id="comentariosCliente" style="background-color: white !important;" readonly="readonly">comentarios</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5">
                                <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">
                                    <label>Comentarios proveedor</label>
                                </div>
                            </div>
                            <div class="span7">
                                <div class="editor-field" style="width: 100%; text-align: left;">
                                    <input type="hidden" id="puntaje_8" value="" />
                                    <input type="hidden" id="respuesta_8" value="" />
                                    <textarea id="comentariosProveedor" style="background-color: white !important;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" style="color: black; text-shadow: none; background-color: lightgray;">Cerrar</a>
        </div>
    </div>

    @*    <div>
        @Html.ActionLink("Regresar", "RegistrarUsuario", "Usuarios")
    </div>*@

    <script>
        function additionalData() {
            return {
                fechaInicio: $("#fechaInicio").val(),
                fechaFin: $("#fechaFin").val()
            };
        }
        
        $("#btnBuscar").click(function () {
            if (($("#fechaInicio").val() != "") || ($("#fechaFin").val() != "")) {
                var finicio = parseDate($("#fechaInicio").val());
                var ffin = parseDate($("#fechaFin").val());
                if ((finicio.toString() === "Invalid Date") || (ffin.toString() === "Invalid Date")) {
                    alert("Error: formato de fecha inválido. Ingrese bien ambas fechas");
                    return false;
                }
                if (ffin < finicio) {
                    alert("Error: la fecha inicio tiene que ser menor igual que la fecha fin.");
                    return false;
                }
            }

            $("#Grid").data("kendoGrid").dataSource.read();
            return true;
        });
        
        // parse a date in dd/mm/yyyy format
        function parseDate(input) {
            var parts = input.split('/');
            // new Date(year, month [, date [, hours[, minutes[, seconds[, ms]]]]])
            return new Date(parts[2], parts[1] - 1, parts[0]); // months are 0-based
        }

        $("#fechaInicio").kendoDatePicker({
            format: "dd/MM/yyyy"
        });
        
        $("#fechaFin").kendoDatePicker({
            format: "dd/MM/yyyy"
        });

        function mostrarEncuesta(i, encuestaRespondida) {
            //alert(i + " " + encuestaRespondida);

            if (encuestaRespondida === 0) {
                $("#modal_encuesta").hide();
                $('#modal_encuesta').modal('toggle');
                alert("El cliente aún no responde la encuesta.");
                $("#encuestaBody").hide();
                return false;
            }

            var trabajoProveedorId = parseInt(i, 10);
            $("#trabajoProveedorId").val(trabajoProveedorId);
            var t = 0;
            $.getJSON('/Proveedores/GetResultadosEncuestaCliente', { trabajoProveedorId: trabajoProveedorId, ajax: 'true' }, function (result) {
                $(result).each(function () {
                    $("#criterio_" + t).text(this.Pregunta);
                    $("#puntaje_" + t).val(this.Puntaje);
                    $("#respuesta_" + t).val(this.Respuesta);
                    f1(t);
                    t++;
                });
            });
            $("#encuestaBody").show();

            $("#modal_encuesta").attr('style', 'left:30%;margin-left:auto;margin-right:auto;');
        }
        function f1(p) {
            if (p < 5) {
                $("#puntaje_" + p).siblings().remove();
                var nt = $("#puntaje_" + p).val();
                for (var k = 0; k < nt; k++) {
                    $("#puntaje_" + p).parent().append('<img src="/Images/oro.png" alt="oro" width="20" />');
                }
                return;
            }
            if (p < 7) {
                $("#sino_" + p).empty();

                nt = $("#puntaje_" + p).val();
                if (nt === "1") {
                    $("#sino_" + p).text("Sí");
                }

                else {
                    $("#sino_" + p).text("No");
                }
                return;
            }
            if (p === 7) {
                $("#comentariosCliente").text($("#respuesta_" + p).val());
                return;
            }
            if (p === 8) {
                var respondio = $("#puntaje_" + p).val();
                if (respondio === '1') {
                    $("#comentariosProveedor").attr('readonly', true);
                    $("#comentariosProveedor").val($("#respuesta_" + p).val());
                }
                else {
                    $("#comentariosProveedor").val('');
                    $("#comentariosProveedor").attr('readonly', false);
                }
                return;
            }
            if (p === 9) {
                $("#respuesta_" + p).siblings().remove();
                $("#respuesta_" + p).parent().append('<input type="checkbox" id="visibilidad" value=""/>');
                var isChecked = $("#respuesta_" + p).val();
                if (isChecked === '1') {
                    $("#visibilidad").attr('checked', true);
                } else {
                    $("#visibilidad").attr('checked', false);
                }

                $("#visibilidad").val(isChecked);
                return;
            }
        }
    </script>

</body>
</html>
