@using SistemaGeneraliz.Models.ViewModels

@{
    ViewBag.Title = "Proveedores Destacados";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Proveedores Destacados</title>
</head>
<body>
    @{Html.RenderPartial("Titulo", new SistemaGeneraliz.Models.Helpers.PageTitle("Proveedores Destacados", "Reporte de los mejores proveedores"));}
    @*    <table style="width: 100%; border: 0;">
        <tbody>
            <tr>
                <td style="vertical-align: top; width: 45%; padding-left: 6%">
                    <table>
                        <tbody style="vertical-align: top;">
                            <tr>
                                <td>Fecha Inicio:</td>
                                <td>
                                    <input type="text" name="nombre" id="fechaInicio" maxlength="10" placeholder="dd/mm/aaaa">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="vertical-align: top; width: 35%;">
                    <table style="width: auto; border: 0;">
                        <tbody style="vertical-align: top;">
                            <tr>
                                <td style="width: 10%;">Fecha Fin:</td>
                                <td style="width: 10%;">
                                    <input type="text" name="nombre" id="fechaFin" maxlength="10" placeholder="dd/mm/aaaa">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="vertical-align: top; padding-top: 15px; width: 18%; padding-right: 7%;">
                    <button id="btnBuscar" type="submit" class="btn blue pull-right" style="width: 125%;">
                        Generar Reporte <i class="icon-search  m-icon-white"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>*@
    <br />
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Reporte Consolidado</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body">
            @(Html.Kendo().Grid<ProveedorDestacadoViewModel>()
                  .Name("Grid")
                  .Columns(columns =>
                    {
                        columns.Bound(p => p.ProveedorId);
                        columns.Bound(p => p.NombreProveedor);
                        columns.Bound(p => p.Documento);
                        columns.Bound(p => p.Imagen).Filterable(false).Template(@<text></text>).ClientTemplate("<img src='/Suministradores/GetImagen?imagenId=#=Imagen#' alt='' width='90' height='106'>");
                        columns.Bound(p => p.Servicios);
                        columns.Bound(p => p.PuntuacionPromedio);
                        columns.Bound(p => p.NroTrabajos);
                        columns.Bound(p => p.LeadsCompras);
                        columns.Bound(p => p.NroRecomendaciones);
                        columns.Bound(p => p.NroVolveriaContratarlo);
                    })
                  .Resizable(resize => resize.Columns(true))
                  .Pageable(paper => paper.Refresh(true).PageSizes(true).PageSizes(new[] { 3, 6, 9 }).Messages(m => m.ItemsPerPage("Elementos por página")))
                  .Sortable()
                  .Filterable()
                  .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(3)
                        .ServerOperation(false)
                        .Read(read => read.Action("ProveedoresDestacados_Read", "Administracion"))
                    )
                  )
        </div>
    </div>

    <div style="width: 15%; margin-left: auto; margin-right: auto;">
        <button id="btnRegalar" type="submit" class="btn red pull-right" style="">
            Obsequiar Leads <i class="icon-gift  m-icon-white"></i>
        </button>
        <br />
        <br />
    </div>

    @*    <div>
        @Html.ActionLink("Regresar", "RegistrarUsuario", "Usuarios")
    </div>*@

    <script>
        $("#btnRegalar").click(function e() {
            $.ajax({
                type: 'GET',
                url: '/Administracion/RecompensarProveedores',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (e) {
                    alert("Se obsequiaron leads exitosamente.");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });

    </script>

</body>
</html>
